@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    display: grid;
    place-content: center;
    height: 100vh;

    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
  }
  :root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
  }
}

@layer components {
  .link-card {
    @apply font-bold text-sm rounded-lg bg-[--grey] p-3 text-center text-[--white] hover:bg-[--green] hover:font-semibold hover:text-black;
  }
}
